<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/genres">Back</a>
    <%- include("partials/errors.ejs") %>
    <form action="/add-genre" method="POST">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" required />
      <button type="submit">Add Genre</button>
    </form>
  </body>
</html>
