<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Developers</h1>
    <a href="/">Back</a> <a href="/add-developer">Add Developer</a>
    <ul>
      <% developers.forEach(developer => { %>
      <li><%= developer.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
