<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Genres</h1>
    <a href="/">Back</a> <a href="/add-genre">Add Genre</a>
    <ul>
      <% genres.forEach(genre => { %>
      <li>
        <a
          href="/products/<%= genre.name.toLowerCase() %>/<%= genre.genre_id %>"
          ><%= genre.name %></a
        >
      </li>
      <% }); %>
    </ul>
  </body>
</html>
